@import './Colors';
.reviews-section {
	font-size: 2rem;
	text-align: center;
	.title-text {
		margin: 2rem auto;
	}
	.reviews {
		display: flex;
		flex-direction: row;
		.review {
			margin: 2rem 1rem;
			font-size: 1rem;
			img {
				width: 20%;
				border-radius: 50%;
				margin: 2rem auto;
			}
			.review-text {
				width: 90%;
				margin: auto;
				margin-bottom: 1rem;
			}
			.name {
				margin: 1rem;
			}
		}
	}
}
